<div class="container">

  <h1>
    <a href="/">
      <p class="logo_home">AgendaTech</p>
      <small class="sub_logo">Eventos de tecnologia no Brasil</small>
    </a>
  </h1>
  
  <div class="header-banner">
    <!-- BANNER HORIZONTAL -->
    <div class="banner-468x60">
      <a href="">
        <span class="border-shadow">        
          <font class="image-border-font first-child"></font>                 
          <img src="@routes.Assets.at("images/banner_topo.jpg")""/>
        </span>  
      </a>
    </div>    
  </div>

</div>

<div style="clear:both"></div>