
<div class="menu">
  <div class="wrapper">
    
    <!-- SOCIAL ICONS -->
    <div class="social-header">
    </div>
      
    <!-- SMALL MENU -->
    <ul class="uppermenu">
      <li class=""><a href="@routes.CookieLang.mudaIdioma?lang=pt-BR" class=""><i class="">@Messages("idioma.pt_br")</i></a></li>      
      <li class=""><a href="@routes.CookieLang.mudaIdioma?lang=en-US" class=""><i class="">@Messages("idioma.en_us")</i></a></li>      
      <li class=""><a href="" class=""><i class="">@Messages("sobre")</i></a></li>      
      <li class=""><a href="" class=""><i class="">@Messages("ical")</i></a></li>      
      <li class=""><a href="" class=""><i class="">RSS</i></a></li>      
      <li class=""><a href="" class=""><i class="">@Messages("contato")</i></a></li>                        
    </ul>
    
    <!-- MENU -->
    <ul class="menu">
      <li class=""><a href="@routes.EventosController.lista" class=""><i class=""><span class="">Eventos</span></i></a>      
    </ul>
    
  </div>
</div>            