      <!-- POSTS -->
<div class="middle-container">      

   <!-- BANNER VERTICAL -->
   <div class="banner-160x600">
     <a href="" target="_blank">
       <span class="border-shadow">
         <font class="image-border-font first-child"></font>
         <img src="@routes.Assets.at("images/banner_vertical.jpg")""/>         
       </span>
     </a>
   </div>

</div>

<!-- DIREITA -->
<div class="right-container">           
  
  <!-- DIVULGUE -->
  <div class="buttons">
    <h3><span>Divulgue</span></h3>            
       
    <a href="@routes.EventosController.novo" class="button_full separator">Cadastrar novo evento</a>       
  </div>
  

  <!-- BANNER BOX -->
  <div class="banner-300x250">         
    <h3><span>Destaque</span></h3>         
    <a href="">
      <span class="border-shadow">        
        <font class="image-border-font first-child"></font>
        <img src="@routes.Assets.at("images/banner_principal.jpg")""/>                       
      </span>  
    </a>    
  </div>

  <!-- TAG CLOUD -->
  <div>
    <h3><span>Tag Cloud</span></h3>     
    <div class="tagcloud">
    </div>
  </div>

  <!-- COMMENTS -->
  <div class="">
    <h3><span>Comentários Recentes</span></h3>     
    <div id="panel-comments">
    </div>
  </div>
  
</div>
